<mat-toolbar class="toolbar" color="primary">
    
      <button mat-button class="menu-button"><i class="material-icons md-dark">group</i> Admin</button>
       <button mat-button class="menu-button"><i class="material-icons md-dark">work</i> Studio</button>
       <button mat-button class="menu-button"><i class="material-icons md-dark">school</i> Coach</button>
       <button mat-button class="menu-button"><i class="material-icons md-dark">border_color</i> Reader</button>
       <button mat-button class="menu-button"><i class="material-icons md-dark">mood</i> Kids</button>
  
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" disableClose="true" opened="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          test
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
<button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    
  </mat-drawer>
  <div class="cards" cdkDropListGroup>


<mat-card class="classes-students" cdkDropList  (cdkDropListDropped)="drop($event)">
<form class="selection">
  <mat-form-field appearance="fill" class="classes">
    <mat-label>Classes</mat-label>
    <mat-select [(ngModel)]="selectedClasse" name="classe" [formControl]='classeControl'>
      <mat-option *ngFor="let classe of classes" [value]="classe.value">
        {{classe.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="classeControl.hasError('required')">Veuillez choisir une classe</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="students">
    <mat-label>Elèves</mat-label>
    <mat-select [(ngModel)]="selectedStudent" name="student">
      <mat-option *ngFor="let student of students" [value]="student.value">
        {{student.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<mat-tree [dataSource]="dataSourceAssigned" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding cdkDrag [cdkDragData]="node" >
          <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
        </mat-tree-node>

</mat-tree>
</mat-card>


  <mat-card class="courses">
        <mat-card-title>
          Cours
        </mat-card-title>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList>
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding cdkDrag [cdkDragData]="node" >
          <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
        </mat-tree-node>
         <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node" [cdkDragDisabled]='true'>
    <div *ngIf="node.name=='Math';else toto">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>

    {{node.name}}
    </div>
    
    <ng-template #toto >
   <button mat-icon-button disabled></button>

    {{node.name}}
    </ng-template>
    
  </mat-tree-node>
      </mat-tree>
  </mat-card>
  <div>
    <mat-drawer-container>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->